<div class="container-fluid ">
    <div class="container reset">
        <div class="row nawgoededoelen">

            <div class="col-md-5">
                <iframe class="videodoelen" ng-src="{{currentProjectUrl}}" frameborder="0" allowfullscreen></iframe>
            </div>


            <!-- <div class="col-md-3 wit2 col-xs-12 ">
                <div class="gegevensblokgoededoelen">
                    <h1 class="icontext contactgegevens">Contact</h1>
                    <p class="winkelmeertext" >
                        <span style="white-space: pre-line">{{TrustedAdress}}</span><br>
                    </p>
                </div>
            </div> -->

            <div class="  col-md-3 col-xs-10 col-md-push-3" >
                <div class="gegevensblokgoededoelen">
                    <h1 class=" icontext">Overig</h1>
                    <p class="waarom4morgentext">
                        <button type="button" class="btn btn-success btn-block btn-lg winkelmeertext"
                                ng-click="gaNaarGoedDoel(goededoeldisplay.AnnualReportUrl)"> Jaarverslag <span
                                class="glyphicon glyphicon-share-alt"></span></button>
                        <button type="button" class="btn btn-success btn-block btn-lg winkelmeertext"
                                ng-click="gaNaarGoedDoel(goededoeldisplay.WebshopUrl)"> Webshop <span
                                class="glyphicon glyphicon-share-alt"></span></button>
                    </p>
                </div>
            </div>



            <div class="col-xs-2 col-md-1 col-md-push-3">
                <div class="gegevensblokgoededoelen social">
                    <img src="site/image/tweet.svg" alt="" class="eersteicon" ng-click="gaNaarGoedDoel(goededoeldisplay.FacebookUrl)">
                    <img src="site/image/fb.svg" alt="" class="fbicon" ng-click="gaNaarGoedDoel(goededoeldisplay.TwitterUrl)">
                </div>
            </div>

            <div class="col-md-3 wit2 col-xs-12 col-md-pull-4">
                <div class="gegevensblokgoededoelen">
                    <h1 class="icontext contactgegevens">Contact</h1>
                    <p class="winkelmeertext" >
                        <span style="white-space: pre-line">{{TrustedAdress}}</span><br>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>
