<?xml version="1.0" encoding="UTF-8"?>
<rules>
	<clear />
	<rule name="Redirect everything except (www./test./qa.) 4morgen.org to www.4morgen.org" patternSyntax="ECMAScript" stopProcessing="true">
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(?!(?:www|test|qa)\.)(?:[\w-]+\.)?4morgen.org$" />
		</conditions>
		<action type="Redirect" url="https://www.4morgen.org/{R:0}" />
	</rule>
	<rule name="non-HTTPS to HTTPS" patternSyntax="Wildcard" stopProcessing="true">
		<match url="*" />
		<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTPS}" pattern="off" />
		</conditions>
		<action type="Redirect" url="https://{HTTP_HOST}/{R:0}" />
	</rule>
	<rule name="Rewrite non-existent files to root of website" patternSyntax="Wildcard" stopProcessing="true">
		<match url="*" />
		<conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		</conditions>
		<action type="Rewrite" url="site/index.html" appendQueryString="true" />
	</rule>
	<rule name="Rewrite root to site/index.html" stopProcessing="true">
		<match url="^\/?$" />
		<action type="Rewrite" url="site/index.html" />
	</rule>
</rules>