<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
        <rewrite>
            <rules>
                <clear />
				<rule name="Redirect everything except (www./test./qa.) 4morgen.org to www.4morgen.org" patternSyntax="ECMAScript" stopProcessing="true">
					<conditions>
                        <add input="{HTTP_HOST}" pattern="^(?!(?:www|test|qa)\.)(?:[\w-]+\.)?4morgen.org$" />
					</conditions>
					<action type="Redirect" url="https://www.4morgen.org/{R:0}" />
				</rule>
                <rule name="non-HTTPS to HTTPS" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" />
                </rule>
                <rule name="Rewrite non-existent files to root of website" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="site/index.html" appendQueryString="true" />
                </rule>
                <rule name="Rewrite root to site/index.html" stopProcessing="true">
                    <match url="^\/?$" />
                    <action type="Rewrite" url="site/index.html" />
                </rule>
            </rules>
        </rewrite>
        <handlers accessPolicy="Read">
            <remove name="PHP53_via_FastCGI" />
            <remove name="CGI-exe" />
            <remove name="TRACEVerbHandler" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="JWildcardHandler" />
            <remove name="cfWildcardHandler" />
            <remove name="ClientLoggingHandler" />
            <remove name="xoml-ISAPI-4.0_64bit" />
            <remove name="xoml-ISAPI-4.0_32bit" />
            <remove name="xoml-Integrated-4.0" />
            <remove name="xamlx-ISAPI-4.0_64bit" />
            <remove name="xamlx-ISAPI-4.0_32bit" />
            <remove name="xamlx-Integrated-4.0" />
            <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="WebServiceHandlerFactory-ISAPI-2.0-64" />
            <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
            <remove name="WebServiceHandlerFactory-Integrated-4.0" />
            <remove name="WebServiceHandlerFactory-Integrated" />
            <remove name="WebAdminHandler-Integrated-4.0" />
            <remove name="WebAdminHandler-Integrated" />
            <remove name="vbhtml-ISAPI-4.0_64bit" />
            <remove name="vbhtml-ISAPI-4.0_32bit" />
            <remove name="vbhtml-Integrated-4.0" />
            <remove name="vbhtm-ISAPI-4.0_64bit" />
            <remove name="vbhtm-ISAPI-4.0_32bit" />
            <remove name="vbhtm-Integrated-4.0" />
            <remove name="TraceHandler-Integrated-4.0" />
            <remove name="TraceHandler-Integrated" />
            <remove name="svc-ISAPI-4.0_64bit" />
            <remove name="svc-ISAPI-4.0_32bit" />
            <remove name="svc-Integrated-4.0" />
            <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
            <remove name="SimpleHandlerFactory-ISAPI-2.0" />
            <remove name="SimpleHandlerFactory-Integrated-4.0" />
            <remove name="SimpleHandlerFactory-Integrated" />
            <remove name="SecurityCertificate" />
            <remove name="ScriptResourceIntegrated-4.0" />
            <remove name="ScriptHandlerFactoryAppServices-Integrated-4.0" />
            <remove name="rules-ISAPI-4.0_64bit" />
            <remove name="rules-ISAPI-4.0_32bit" />
            <remove name="rules-Integrated-4.0" />
            <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="PageHandlerFactory-ISAPI-2.0-64" />
            <remove name="PageHandlerFactory-ISAPI-2.0" />
            <remove name="PageHandlerFactory-Integrated-4.0" />
            <remove name="PageHandlerFactory-Integrated" />
            <remove name="ISAPI-dll" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" />
            <remove name="HttpRemotingHandlerFactory-soap-Integrated-4.0" />
            <remove name="HttpRemotingHandlerFactory-soap-Integrated" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" />
            <remove name="HttpRemotingHandlerFactory-rem-Integrated-4.0" />
            <remove name="HttpRemotingHandlerFactory-rem-Integrated" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="cshtml-ISAPI-4.0_64bit" />
            <remove name="cshtml-ISAPI-4.0_32bit" />
            <remove name="cshtml-Integrated-4.0" />
            <remove name="cshtm-ISAPI-4.0_64bit" />
            <remove name="cshtm-ISAPI-4.0_32bit" />
            <remove name="cshtm-Integrated-4.0" />
            <remove name="cfmHandler" />
            <remove name="cfcHandler" />
            <remove name="AXD-ISAPI-4.0_64bit" />
            <remove name="AXD-ISAPI-4.0_32bit" />
            <remove name="AXD-ISAPI-2.0-64" />
            <remove name="AXD-ISAPI-2.0" />
            <remove name="AssemblyResourceLoader-Integrated-4.0" />
            <remove name="AssemblyResourceLoader-Integrated" />
            <remove name="aspq-ISAPI-4.0_64bit" />
            <remove name="aspq-ISAPI-4.0_32bit" />
            <remove name="aspq-Integrated-4.0" />
            <remove name="ASPClassic" />
        </handlers>
</system.webServer>
</configuration>
