<div class="col-md-4 wit2 gegevensblok">
  <h1 class="icontext contactgegevens">Contact met 4MORGEN</h1>
  <p class="waarom4morgentext">
    <span>Riouwstraat 191</span><br>
    <span>2585 HT</span><br>
    <span>Den Haag</span><br>
    <span>070 - 4061612</span><br>
    <span>info@4morgen.org</span><br>
    <span>KVK 58500537</span>
  </p>
  <div class="maps">
    <iframe allowfullscreen="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.921845369171!2d4.3097062157688235!3d52.08115257641093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b73b2e4e1dbd%3A0x4dbea9da6d072baa!2sLange+Vijverberg+11%2C+2513+AC+Den+Haag!5e0!3m2!1snl!2snl!4v1452534200874" style="border:0" frameborder="0"></iframe>
  </div>
</div>
