<div class="container-fluid">
    <div class="row">
        <div class="bannerwinkel" style="background-image:url(site/image/bannerglass.jpg)">


            <div class="bannerwinkeltext">
                <p class="text-center winkelmenutext">Wat geweldig dat niemand ook maar een moment hoeft te wachten met
                    het <b>verbeteren van de wereld</b></p>

            </div>
        </div>

    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Geen resultaat</h1>
      <p class="winkelmeertext">Helaas hebben wij niet kunnen vinden op &lsquo;{{zoekquery}}&rsquo;</p>
      <p class="winkelmeertext">Wat kan je doen?</p>
      <ul class="winkelmeertext">
        <li>
          Controleer de spelling van je zoekopdracht
        </li>
        <li>
          Probeer een andere zoekopdracht
        </li>
        <li>
          Staat jouw winkel en/of goede doel er niet tussen neem dan <a ui-sref="contact">&quot; hier &quot;</a> contact met ons op
        </li>
      </ul>
    </div>
  </div>
</div>

<div ng-include="'site/footer.html'"></div>
