<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Geen resultaat</h1>
      <p class="winkelmeertext">Helaas hebben wij niet kunnen vinden op &lsquo;{{zoekquery}}&rsquo;</p>
      <p class="winkelmeertext">Wat kan je doen?</p>
      <ul class="winkelmeertext">
        <li>
          Controleer de spelling van je zoekopdracht
        </li>
        <li>
          Probeer een andere zoekopdracht
        </li>
        <li>
          Staat jouw winkel en/of goede doel er niet tussen neem dan <a ui-sref="contact">&quot; hier &quot;</a> contact met ons op
        </li>
      </ul>
    </div>
  </div>
</div>

  <div ng-include="'site/footer.html'"></div>
