<div class="container winkelmenutext voorwaarden">

<h1>Cookies</h1>

<h3>Cookie erbij?</h3>
<p>Cookies zijn kleine stukjes informatie die tijdens het internetten worden opgeslagen op je computer. De informatie is nodig voor het juist functioneren van een website. Cookies kunnen persoonlijke informatie verzamelen. </p>
<p>Cookies van 4MORGEN zijn veilig voor je pc, laptop, telefoon of tablet. Wij gebruiken cookies om je te herkennen als je ons bezoekt, maar ook om te zorgen dat onze website goed werkt en je fijn kunt winkelen. Door cookies krijgen we informatie over het gebruik van onze diensten. Zo kunnen we die verbeteren en aanpassen aan de wensen van onze klanten. </p>
<p>Cookies zorgen ervoor dat:</p>
<ul>
  <li>je ingelogd blijft en ongestoord kunt winkelen via het platform van 4MORGEN;</li>
  <li>de website snel is;</li>
  <li>we fouten en ongemak op de website kunnen opsporen;</li>
  <li>we verbeteringen kunnen testen;</li>
  <li>we je persoonlijk kunnen adviseren op basis van wat je eerder hebt gekocht en/of bekeken;</li>
  <li>je producten kunt delen via social media zoals Facebook en Google.</li>
</ul>
<br>
<br>

<h3>Hoe lang blijven cookies staan?</h3>
<p>De meeste cookies van 4MORGEN verdwijnen als je de browser sluit. Sommige cookies blijven enkele dagen tot enkele jaren staan. Je kunt ze zelf op elk moment via je browser verwijderen. </p>

<br>
<br>

<h3>Cookies verwijderen of uitschakelen</h3>
<p>Cookies kun je altijd zelf via je browserinstellingen verwijderen of uitschakelen. Je ontvangt dan geen cookies meer tijdens het winkelen op 4MORGEN. Uitleg over het aanpassen van de cookie-instellingen vind je onder Help in de meeste browsers. Maar let wel op: zonder cookies werkt de website van 4MORGEN minder goed.</p>

<br>
<br>
</div>
<div ng-include="'site/footer.html'"></div>
