<div class="container winkelmenutext">
  <h1>Veel gestelde vragen</h1>

  <div class="panel-group">

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse1">Hoe is het mogelijk dat ik door te shoppen een goed doel kan steunen, zonder extra kosten?</a>
        </p>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">Normaal gesproken als je een aankoop doet via een website als Beslist.nl, ontvangt deze een vergoeding van de desbetreffende webshop. Via 4MORGEN gaat dit deel van jouw aankoop naar het goede doel van jouw keuze en daarom kost het jou niets extra! Je shopt dus bij dezelfde winkels voor dezelfde prijzen en je helpt mee om de wereld een stukje mooier te maken.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse2">Wat voor verschil is er tussen wel en niet inloggen op 4MORGEN?</a>
        </p>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Als je op 4MORGEN inlogt, kun je jouw eigen goede doelen uitkiezen. In jouw 4MORGEN account kun je nagaan wat de status van de donatie is en hoeveel je in totaal gedoneerd hebt. Aan het einde van het jaar tref je hier ook een jaaropgave aan. Wanneer je niet inlogt gaat de donatie automatisch naar het goede doel van de maand.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse3">Welk percentage van mijn donatie gaat naar het goede doel?
</a>
        </p>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Het door jou gekozen doel ontvangt 100% van de op de website weergegeven donatie.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse4">Waar verdient 4MORGEN aan?</a>
        </p>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">Wij ontvangen een vergoeding van de partners over de transacties die plaatsvinden. Deze vergoeding is 15% van de donatie die uitgekeerd wordt. Wij gebruiken deze vergoeding om te investeren in ons platform en om te werken aan onze naamsbekendheid onder andere met behulp van ons eigen klantsupportteam. We maken er geen geheim van dat we werken aan een betere wereld, maar ook niet dat we een onderneming zijn.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse5">Hoe veilig is het shoppen via 4MORGEN?</a>
        </p>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">4MORGEN werkt alleen met betrouwbare bedrijven. 4MORGEN heeft iedere aangesloten webshop voor aansluiting uitgebreid gescreend. Bovendien hebben de meeste webshops een garantie van “Thuiswinkel waarborg” en “Webshop keurmerk”.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse6">Kan ik meer dan een goed doel steunen?</a>
        </p>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">Natuurlijk! In jouw 4MORGEN account kun je te allen tijde wijzigingen aanbrengen ten aanzien van de goede doelen die je wilt steunen. Dat kan er één zijn, maar dat kunnen er ook meerdere zijn.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse7">Hoe kan ik mijn persoonlijke gegevens veranderen?</a>
        </p>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">Log in met je bestaande gebruikersnaam en wachtwoord. In jouw 4MORGEN account kun je altijd je accountgegevens wijzigen. Bij het wijzigen van je emailadres of wachtwoord krijg je hiervan een bevestiging.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse8">Hoe werkt het wanneer ik reeds een account heb bij een specifieke partner van 4MORGEN?</a>
        </p>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
        <div class="panel-body">Het maakt niet uit of je al een account hebt, bij b.v. Coolblue of Zalando. Wanneer je via 4MORGEN naar deze sites gaat, zullen onze partners een donatie maken. Om mogelijke vergissingen te voorkomen helpt het wanneer je hun website uitschakelt alvorens je via 4MORGEN een aankoop verricht.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse9">Hoe weten de partners aan wie ze moeten betalen?</a>
        </p>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
        <div class="panel-body">Elke gebruiker van 4MORGEN krijgt bij het verlaten een uniek nummer mee zodat de partners weten dat ze aan 4MORGEN moeten betalen en wij welke gebruiker recht heeft op de desbetreffende donatie. Deze donatie vind je vervolgens terug in je eigen account.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse10">Mijn donatie is na 30 dagen nog altijd niet zichtbaar</a>
        </p>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
        <div class="panel-body">Als na 30 dagen je donatie nog altijd niet zichtbaar is, dan kun je hiervan melding maken via ons contact formulier</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse11">Waar is mijn donatie?</a>
        </p>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
        <div class="panel-body">Het kan tot veertien dagen duren voordat de donatie zichtbaar wordt in je account. Wanneer de donatie na dertig dagen nog niet is bijgeschreven, neem dan contact op via ons contact formulier. De meest voorkomende redenen waarom een donatie (nog) niet is bijgeschreven zijn:
        <ul>
          <li>Je was niet ingelogd of je bent de aankoop niet gestart via 4MORGEN. Onze partners moeten kunnen zien dat je een gebruiker bent van 4MORGEN om hun donatie over te kunnen maken.</li>
          <li>Je had meerdere schermen van de desbetreffende partner geopend. Hierdoor kan de partner niet zien dat de aankoop is gestart via 4MORGEN.</li>
          <li>Je antivirus, cookie of advertentie blocker die je hebt geïnstalleerd kan er somsvoor zorgen dat de unieke code niet goed doorkomt.</li>
        </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse12">Waarom is mijn donatie ingetrokken?</a>
        </p>
      </div>
      <div id="collapse12" class="panel-collapse collapse">
        <div class="panel-body">Dit gebeurt op basis van de informatie die wij van onze partners ontvangen en betekent dat de aankoop is geannuleerd. Ben je van mening dat dit niet correct is, laat ons dat dan weten via ons contact formulier.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse13">Waarom heb ik een lagere donatie gekregen dan vermeld?</a>
        </p>
      </div>
      <div id="collapse13" class="panel-collapse collapse">
        <div class="panel-body">Als je iets bestelt via 4MORGEN bij een webshop zie je meteen welke donatie je krijgt van de webshop. Maar soms gelden de genoemde donatiepercentages niet op alle producten van de webshop. Dit wordt echter altijd gemeld.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse14">Kan ik als ondernemer ook aankopen doen voor een goed doel?
</a>
        </p>
      </div>
      <div id="collapse14" class="panel-collapse collapse">
        <div class="panel-body">Natuurlijk, een overzicht van de zakelijke aanbieders tref je aan in de categorie "zakelijk".</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-target="#collapse15">Hoe is de lijst van goede doelen samengesteld?</a>
        </p>
      </div>
      <div id="collapse15" class="panel-collapse collapse">
        <div class="panel-body">Elk goed doel met een ANBI-status kan zich aanmelden.</div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'site/footer.html'"></div>
