<div class="container winkelmenutext voorwaarden">
<!-- <h1>Nieuwsbrief</h1> -->
<h3>Nieuwsbrief</h3>
<p>Onze nieuwsbrief kun je ontvangen als je een account bij 4MORGEN hebt. Bij het registreren van je account kun je aangeven of je deze nieuwsbrief wilt ontvangen. Als je al een account hebt, dan kun je dit bij het wijzigen van jouw profiel in Mijn account alsnog aangeven.</p>
<button type="button" ui-sref="login"class="btn btn-success btn-lg" name="button">registratie</button>
<ul>
  <li>Jouw gegevens worden door ons niet aan derden verstrekt</li>
  <li>Afmelden voor onze nieuwsbrief kan altijd</li>
</ul>
<br>
<h3>Hoe kan ik mij afmelden?</h3>
<p>Met een link onderaan de nieuwsbrief kun je je eenvoudig afmelden. Je zult onze nieuwsbrief dan niet meer ontvangen. Je kunt je hiervoor ook afmelden door dit aan te geven in je profiel van Mijn account.</p>
<br>
<h3>Jouw voordelen</h3>
<ul>
  <li><b>Bijzondere aanbiedingen</b><br>Met onze nieuwsbrief wordt je geattendeerd op aanbiedingen en geselecteerde duurzame artikelen.</li>
  <li><b>Kortingen</b><br>Je ontvangt nieuwe aantrekkelijke aanbiedingen als een van de eersten.</li>
  <li><b>Nieuws en trends</b><br>4MORGEN informeert je regelmatig over ontwikkelingen bij goede doelen.</li>
</ul>


</div>

<div ng-include="'site/footer.html'"></div>
