<div class="container-fluid">
  <div class="row">
    <div class="bannerwinkel" style="background-image:url(site/image/banneroverons.png)">
      <!-- <div class="bannerwinkeltext">
        <p class="text-center winkelmenutext">Wat geweldig dat niemand ook maar een moment hoeft te wachten met het <b>verbeteren van de wereld</b></p>
      </div> -->
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <h1 class="text-center waarom4morgen onsverhaal"><b>Het verhaal van 4MORGEN</b></h1>
    <div class="col-md-6 col-md-offset-3 onsverhaaltext">
      <p class="winkelmenutext">Er is een groeiend besef dat we anders met onze wereld moeten omgaan. Goede doelen maken zich hiervoor sterk. Een verandering van het geefklimaat heeft er toe geleid dat fondsenwerving door goede doelen onder druk is komen te staan. Om de teruggang in financiële middelen bij goede doelen tegen te gaan, zijn goede doelen op zoek naar nieuwe initiatieven en goedkopere manieren van fondsenwerving. 4MORGEN biedt hiervoor een oplossing om de wereld positief te veranderen. We willen het mogelijk maken dat iedereen kan doneren om samen voor een mooiere en meer duurzame wereld te gaan.</p>
    </div>
  </div>
</div>
<div class="container-fluid bgroen ">
  <div class="container">

  <div class="row onsverhaaltext">
    <div class="col-md-6">
      <h1 class="waarom4morgen wit2 onsverhaal"><b>Hoe werkt het</b></h1>
      <p class="wit2 winkelmenutext">4MORGEN is de nieuwe manier van winkelen waarbij je direct met elke aankoop gratis goede doelen steunt. 4MORGEN biedt toegang tot een groeiend aantal webwinkels, waaronder Albert Heijn, Zalando en Thuisbezorgd. Door de afspraken die 4MORGEN heeft gemaakt met honderden webwinkels wordt gratis doneren aan erkende goede doelen mogelijk gemaakt. Het online concept groeit elke dag en dat is goed nieuws voor alle deelnemende partijen.</p>
    </div>

    <div class="col-md-6">
      <h1 class="waarom4morgen wit2 onsverhaal"><b>Mijn 4MORGEN</b></h1>
      <p class="wit2 winkelmenutext">Elke keer wanneer een aankoop wordt gestart vanaf 4MORGEN, gaat er vanzelf een percentage naar het goede doel van de maand. Wil je zelf jouw favoriete doelen selecteren? Registreer je dan bovenaan deze website en je krijgt een eigen 4MORGEN account, waarmee je direct kunt inloggen. Goede doelen steunen zonder dat het iets kost en blijven genieten van alle online aanbiedingen en kortingen, dat wil toch iedereen! Wie steun jij?</p>
    </div>
  </div>


  </div>
</div>

<div class="container">
  <div class="row">
    <h1 class="text-center waarom4morgen onsverhaal"><b>Ons team</b></h1>
    <div class="col-md-3 col-sm-6" style="margin-bottom:20px">
      <div class="profielpicholder">
        <img src="site/image/team/martijn.png" alt="">
      </div>
      <p class="winkelmenutext"><b class="orange">Martijn Franssen</b> <br>
      Oprichter</p>
    </div>
    <div class="col-md-3 col-sm-6" style="margin-bottom:20px">
      <div class="profielpicholder">
        <img src="site/image/team/debby.png" alt="">
      </div>
      <p class="winkelmenutext"><b class="orange">Debby Gruiters</b> <br>
      Goede doelen</p>
    </div>

    <div class="col-md-3 col-sm-6" style="margin-bottom:20px">
      <div class="profielpicholder">
        <img src="site/image/team/pp.jpg" alt="">
      </div>
      <p class="winkelmenutext"><b class="orange">Jesse Koolhaas</b> <br>
      IT development</p>
    </div>

    <div class="col-md-3 col-sm-6" style="margin-bottom:20px">
      <div class="profielpicholder">
        <img src="site/image/team/guido.png" alt="">
      </div>
      <p class="winkelmenutext"><b class="orange">Guido Keutgen</b> <br>
      Bedrijven</p>
    </div>

    <div class="col-md-3 col-sm-6" style="margin-bottom:20px">
      <div class="profielpicholder">
        <img src="site/image/team/bri.jpg" alt="">
      </div>
      <p class="winkelmenutext"><b class="orange">Brigitte naaktgeboren</b> <br>
      Co-ceo</p>
    </div>
  </div>
</div>

<div class="container">

<div class="row onsverhaaltext">
  <div class="col-md-6">
    <h1 class="waarom4morgen onsverhaal"><b>Missie</b></h1>
    <p class=" winkelmenutext">
    4MORGEN wil midden in de samenleving staan. Wij willen het voortouw nemen om iedereen in staat stellen hun favoriete goede doel te steunen. Ons doel is dat gebruikers van 4MORGEN in 2020 jaarlijks een miljoen euro aan donaties realiseren.
    </p>
  </div>

  <div class="col-md-6">
    <h1 class="waarom4morgen onsverhaal"><b>Visie</b></h1>
    <p class=" winkelmenutext">
    Er is een groeiend besef dat we anders met onze wereld om moeten gaan. Wij geloven dat het werk van goede doelen een verschil kan maken. Maar ook dat we niet allemaal de tijd hebben om actief mee te helpen of het geld om te doneren. 4MORGEN wil daarom iedereen in staat stellen om op elk gewenst tijdstip te helpen zonder dat dit geld kost. Wij geloven dat we samen de wereld mooier kunnen maken.
    </p>
  </div>
</div>


</div>
<div ng-include="'site/footer.html'"></div>
