<div class="container winkelmenutext voorwaarden">
  <h1>Privacy Policy</h1>

  <h3>Privacy en veiligheid</h3>
  <p>Je persoonlijke gegevens. Je laat ze bij ons achter, want dat moet nu eenmaal als je iets persoonlijk wilt doneren. Maar we kunnen ons voorstellen dat je graag wilt weten waarom wij om je persoonlijke gegevens vragen en wat wij ermee doen. Dat vertellen we je hier graag. Heb je na het lezen van deze pagina nog vragen, neem dan contact met ons op.</p>
  <br>
  <br>

  <h3>Heel veilig</h3>
  <p>Alle gegevens die je bij ons achterlaat worden zorgvuldig bewaard; veilig achter slot en grendel. Dat doen we met één van de modernste technieken: de Secure Socket Layer (SSL). Wie niks met jouw gegevens te maken heeft, kan er simpelweg niet bij. </p>
  <br>
  <br>

  <h3>Persoonlijk</h3>
  <p>Wij gebruiken je gegevens onder andere om het aanbod beter op jouw keuze af te stemmen. We willen wat jij op 4MORGEN ziet graag aanpassen op jouw interesses. Zo maken we de ene persoon blij met aanbiedingen van bijvoorbeeld duurzame artikelen en de andere met het laatste nieuws op het gebied van reizen. Wij gebruiken daarvoor gegevens van eerdere bestellingen, je IP-adres en cookies. Zie Cookies voor een nadere uitleg hierover. </p>

  <br>
  <br>

  <h3>Wat doen we verder met je gegevens</h3>
  <p>Wij gebruiken je gegevens voor verschillende doelen. Hierna kun je zien welke doelen dat zijn. Wij gebruiken daarbij van jou ontvangen gegevens, maar ook door onszelf verzamelde gegevens. Bijvoorbeeld gegevens over je bezoek aan onze website. </p>


  <br>
  <br>

  <h3>Je account</h3>
  <p>In je account op 4MORGEN slaan we onder andere de volgende informatie op: je naam, e-mailadres en overige opgegeven informatie. Handig, want dan hoef je deze gegevens niet elke keer opnieuw in te voeren.</p>

  <br>
  <br>

  <h3>Nieuwsbrieven</h3>
  <p>Je kunt je aanmelden voor onze nieuwsbrief. Zo blijf je op de hoogte van aanbiedingen, acties en ons nieuws. Wil je geen nieuwsbrieven van ons meer ontvangen, lees dan hier hoe je je af kunt melden. Simpel toch?</p>

  <br>
  <br>

  <h3>Verbetering van platform en service</h3>
  <p>We zijn voortdurend bezig onze dienstverlening te verbeteren. Daarom kunnen we je gegevens gebruiken om je te vragen of je mee wilt doen aan een vrijblijvend klant- of marktonderzoek. Soms voeren anderen dat onderzoek voor ons uit. Wij geven die ander dan jouw e-mailadres. Die ander moet zich natuurlijk ook aan onze privacy-regels houden. Zo moet je e-mailadres na afloop van het onderzoek worden verwijderd.</p>

  <br>
  <br>

  <h3>Fraude</h3>
  <p>Op fraude zit niemand te wachten, wij ook niet. Daarom gebruiken wij klantgegevens om fraude te onderzoeken, te voorkomen en tegen te gaan. Als dat gevorderd wordt, geven wij klantgegevens aan de overheid.</p>

  <br>
  <br>
  <h3>Social media</h3>
  <p>Als je social media gebruikt, bijvoorbeeld Facebook, dan kun je met je social media-account op sommige plekken op onze website inloggen. Wanneer je, als je bent ingelogd, aangeeft een webshop leuk te vinden, dan verschijnt deze op je social media-account. 4MORGEN krijgt geen toegang tot je social media-account, maar webshops die je leuk, nuttig of handig vindt, kun je wel met je vrienden delen.</p>

  <br>
  <br>

  <h3>Kloppen je gegevens niet of heb je andere vragen?</h3>
  <p>Klopt er iets niet of wil je je gegevens inzien, neem dan gerust contact met ons op via het contactformulier.</p>

  <br>
  <br>

  <h3>Cookie erbij?</h3>
  <p>Cookies zijn kleine stukjes informatie die tijdens het internetten worden opgeslagen op je computer. De informatie is nodig voor het juist functioneren van een website. Cookies kunnen persoonlijke informatie verzamelen. </p>
  <p>Cookies van 4MORGEN zijn veilig voor je pc, laptop, telefoon of tablet. Wij gebruiken cookies om je te herkennen als je ons bezoekt, maar ook om te zorgen dat onze website goed werkt en je fijn kunt winkelen. Door cookies krijgen we informatie over het gebruik van onze diensten. Zo kunnen we die verbeteren en aanpassen aan de wensen van onze klanten. </p>
  <p>Cookies zorgen ervoor dat:</p>
  <ul>
    <li>je ingelogd blijft en ongestoord kunt winkelen via het platform van 4MORGEN;</li>
    <li>de website snel is;</li>
    <li>we fouten en ongemak op de website kunnen opsporen;</li>
    <li>we verbeteringen kunnen testen;</li>
    <li>we je persoonlijk kunnen adviseren op basis van wat je eerder hebt gekocht en/of bekeken;</li>
    <li>je producten kunt delen via social media zoals Facebook en Google.</li>
  </ul>

  <br>
  <br>

  <h3>Hoe lang blijven cookies staan?</h3>
  <p>De meeste cookies van 4MORGEN verdwijnen als je de browser sluit. Sommige cookies blijven enkele dagen tot enkele jaren staan. Je kunt ze zelf op elk moment via je browser verwijderen. </p>

  <br>
  <br>

  <h3>Cookies verwijderen of uitschakelen</h3>
  <p>Cookies kun je altijd zelf via je browserinstellingen verwijderen of uitschakelen. Je ontvangt dan geen cookies meer tijdens het winkelen op 4MORGEN. Uitleg over het aanpassen van de cookie-instellingen vind je onder Help in de meeste browsers. Maar let wel op: zonder cookies werkt de website van 4MORGEN minder goed.</p>

  <br>
  <br>
</div>

<div ng-include="'site/footer.html'"></div>
