<div class="container-fluid">
  <div class="row">
    <div class="bannerwinkel" style="background-image:url(site/image/vjbbanner.jpg)">
      <!-- <div class="bannerwinkeltext">
        <p class="text-center winkelmenutext">Wat geweldig dat niemand ook maar een moment hoeft te wachten met het <b>verbeteren van de wereld</b></p>
      </div> -->
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <h1 class="text-center waarom4morgen onsverhaal"><b>Het verhaal van Voor Je Buurt</b></h1>
    <div class="col-md-6 col-md-offset-3 onsverhaaltext">
      <p class="winkelmenutext">Er waait een frisse wind door de dorpen en steden van Nederland. Overal zijn bewoners, lokale ondernemers en maatschappelijke organisaties bezig met creatieve ideeën en projecten voor hun omgeving. Buurttuinen. Nieuwe zorgconcepten. Ontmoetingsplekken. Bewonersbedrijven. Lokale festivals. Lokale producten. Al dit soort lokale initiatieven geven invulling aan hoe onze buurten, dorpen en steden er nu en in de toekomst uitzien. Mensen geven kleur aan hun eigen omgeving en woonplaats. Voor je Buurt is opgezet om de nieuwe plaatsmakers te helpen om hun idee en droom te realiseren via crowdfunding: campagnes waarbij geld, hulp en materiaal wordt ingezameld.</p>
    </div>
  </div>
</div>
<div class="container-fluid bgroen ">
  <div class="container">

  <div class="row onsverhaaltext">
    <div class="col-md-6">
      <h1 class="waarom4morgen wit2 onsverhaal"><b>Hoe werkt het</b></h1>
      <p class="wit2 winkelmenutext">Initiatiefnemers van campagnes proberen binnen een vooraf vastgestelde looptijd voldoende geld, hulp en middelen in te zamelen om hun initiatief te kunnen uitvoeren. Via Voor je Buurt kun je rechtsreeks een donatie overmaken (die je terugkrijgt als het doelbedrag niet wordt behaald) of je aanmelden als vrijwilliger. Vaak krijg je voor een donatie iets leuks terug!</p>
    </div>

    <div class="col-md-6">
      <h1 class="waarom4morgen wit2 onsverhaal"><b>Gratis campagnes steunen!</b></h1>
      <p class="wit2 winkelmenutext">Het is nu mogelijk om via 4MORGEN gratis te doneren aan alle lopende campagnes op Voor je Buurt. Het werkt heel eenvoudig! Klik bij categorieën op Voor je Buurt en voeg de campagne van jouw keuze toe aan je lijst met goede doelen. Namens de initiatiefnemers van de campagnes willen we je alvast hartelijk bedanken voor je gratis donatie!</p>
    </div>
  </div>


  </div>
</div>

<div ng-include="'site/footer.html'"></div>
