<div class="container winkelmenutext voorwaarden">



  <h1>Algemene voorwaarden</h1>
  <p>Deze algemene voorwaarden van 4MORGEN hebben tot doel duidelijk te maken welke rechten en plichten de Gebruiker van 4MORGEN heeft.</p>


  <h3>Inhoudsopgave</h3>
  <span>Artikel 1 - Definities </span><br>
  <span>Artikel 2 - Identiteit van de ondernemer</span><br>
  <span>Artikel 3 - Toepasselijkheid</span><br>
  <span>Artikel 4 - Gebruikersovereenkomst</span><br>
  <span>Artikel 5 - De online aankoop</span><br>
  <span>Artikel 6 - Verplichtingen van de Gebruiker</span><br>
  <span>Artikel 7 - Verplichtingen van 4MORGEN</span><br>
  <span>Artikel 8 - Aankoopvergoedingen</span><br>
  <span>Artikel 9 - Contact en klachtenregeling</span><br>
  <span>Artikel 10 - Goede doelen</span><br>
  <span>Artikel 11 - Webwinkels</span><br>
  <span>Artikel 12 - Geschillen</span>
  <br>
  <br>
  <br>

  <h3>Artikel 1- Definities</h3>
  <p>In deze voorwaarden wordt verstaan onder:</p>

  <ol>
    <li>Gebruiker: iedere Gebruiker en Geregistreerde Gebruiker van het online platform van 4MORGEN, dan wel elke rechtspersoon die met 4MORGEN donaties wil genereren middels het doen van online aankopen.</li>
    <li>Geregistreerde gebruiker: iedere Gebruiker die een account heeft aangemaakt om daarmee donaties aan specifieke Goede doelen toe te kunnen kennen.</li>
    <li>Gebruiksovereenkomst: overeenkomst tussen 4MORGEN en Gebruiker die ten doel heeft om middels het platform van 4MORGEN donaties te genereren voor Goede doelen.</li>
    <li>Gebruikersaccount: de persoonlijke omgeving van een Gebruiker op het platform van 4MORGEN waar de Gebruiker zijn profiel en keuze aan Goede doelen kan beheren en waar de gegenereerde aankoopvergoedingen worden bijgehouden. </li>
    <li>Aankoopvergoeding: het bedrag dan wel het percentage dat webwinkels vergoeden voor de middels het platform van 4MORGEN gerealiseerde aankoop.</li>
    <li>Goede doelen: alle charitatieve organisaties die onder het ANBI-keurmerk vallen.</li>
  </ol>

  <br>
  <br>
<h3>Artikel 2 – Identiteit van de ondernemer</h3>
<p><b>4MORGEN B.V.</b><br>
  Handelend onder de naam 4MORGEN <br>
  KvK-nummer: 58500537 <br>
  Btw-identificatienummer Nederland: NL8530.66.000.B01
</p>
<p><b>Contact</b><br>
  Telefoonnummer Nederland: +31 (0)70-40 61 612 (lokaal tarief). <br>
Bereikbaarheid: op werkdagen van 9.00 uur tot 17.00 uur.
</p>

<br>
<br>
<h3>Artikel 3 – Toepasselijkheid</h3>
<ol>
  <li>Op alle werkzaamheden/ diensten/leveringen zijn de algemene voorwaarden van 4MORGEN van overeenkomstige toepassing. Deze voorwaarden bevatten onder meer een beperking van eventuele aansprakelijkheid tussen Gebruiker en 4MORGEN.</li>
  <li>Deze voorwaarden zijn van toepassing op en maken deel uit van alle huidige en toekomstige aanbiedingen, overeenkomsten en andere op enig rechtsgevolg gerichte handeling(en) waarbij 4MORGEN is betrokken, alsmede op alle gevolgen daarvan of op overeenkomsten die hieruit voortvloeien.</li>
  <li>Afwijkingen van de algemene voorwaarden zijn alleen geldig wanneer deze afwijkingen uitdrukkelijk en schriftelijk tussen partijen zijn overeengekomen. Aan een dergelijke uitdrukkelijke en schriftelijk overeengekomen afwijking kan Gebruiker geen rechten ontlenen, ook niet voor toekomstige overeenkomsten. Andere algemene voorwaarden, waaronder die van Gebruiker, hoe deze ook worden vermeld of genoemd, zijn niet van toepassing op de rechtsverhouding tussen partijen en worden op voorhand door 4MORGEN afgewezen.</li>
</ol>


<br>
<br>
<h3>Artikel 4 – Gebruikersovereenkomst</h3>
<ol>
  <li>Een gebruikersaccount kan alleen aangemaakt worden door: natuurlijke personen met een minimum leeftijd van 18 jaren die in Nederland woonachtig en in Nederland geregistreerd zijn en die geen geschiedenis hebben van fraude of andere soorten van misbruik.
</li>
  <li>Zonder Gebruikersovereenkomst kan 4MORGEN geen aankoopvergoedingen bijschrijven op het account van de Gebruiker en dientengevolge ook niet toekennen aan de gekozen Goede doelen. In dat geval zullen de van de webwinkels ontvangen bedragen worden toegewezen aan het door 4MORGEN vermelde goede doel van de maand. Gebruiker is hier mee bekend en akkoord.
</li>
  <li>Gegenereerde bedragen zullen nimmer direct ten goede komen aan de Gebruiker noch aan de Gebruiker worden uitgekeerd.
</li>
  <li>Een Gebruikersovereenkomst en Gebruikersaccount komt tot stand door de enkele aanmelding en registratie van de Gebruiker opgevolgd door een bevestigingsemail van 4MORGEN.
</li>
  <li>Een Gebruikersovereenkomst kan op elk moment worden beëindigd door afmelding met behulp van het afmeldformulier. De resterende gegeneerde bedragen zullen bij de eerstvolgende betaling aan de geselecteerde Goede doelen worden uitgekeerd dan wel aan het goede doel van de maand.
</li>
  <li>4MORGEN behoudt te allen tijde het recht voor een account van Gebruiker zonder opgave van redenen te verwijderen of te weigeren.
</li>
</ol>



<br><br>
<h3>Artikel 5 – De online aankoop</h3>
<ol>
  <li>4MORGEN is nimmer contractspartij in de aangegane (koop)overeenkomst tussen de Gebruiker en de bij 4MORGEN aangesloten webwinkels.
</li>
  <li>4MORGEN is nimmer aansprakelijk of verantwoordelijk voor de correcte afhandeling en naleving van de door de Gebruiker met een bij 4MORGEN aangesloten webwinkel gesloten (koop)overeenkomst. Ten tijde van de aanschaf van goederen, dan wel het aangaan van een overeenkomst met een bij 4MORGEN aangesloten webwinkel, gelden te allen tijde de door de webwinkel toepasselijk verklaarde algemene voorwaarden.
</li>
  <li>4MORGEN is niet verantwoordelijk noch aansprakelijk voor de kwaliteit van de producten en/of specifieke informatie van producten die door de webwinkels worden aangeboden.
</li>
</ol>


<br><br>
<h3>Artikel 6 – Verplichtingen van de Gebruiker</h3>
<ol>
  <li>Door het gebruik van de internetsite van 4MORGEN en/of het aanmelden als Gebruiker aanvaardt de Gebruiker deze algemene voorwaarden evenals alle andere rechten en plichten zoals die staan vermeld in de algemene voorwaarden en op de internetsite.
</li>
  <li>De Gebruiker garandeert dat de door hem/haar ingevulde gegevens tijdens de registratieprocedure van de Gebruiker zelf afkomstig zijn. De Gebruiker garandeert in persoon akkoord te gaan met de algemene voorwaarden. Het is nimmer toegestaan de bovengenoemde handeling door een ander te laten uitvoeren.
</li>
  <li>De Gebruiker erkent uitdrukkelijk dat alle rechten van intellectueel eigendom van weergegeven informatie, mededelingen of andere uitingen met betrekking tot de goederen/diensten en/of met betrekking tot de internetsite berusten bij 4MORGEN, haar toeleveranciers, partners of andere rechthebbenden.
</li>
</ol>


<br><br>
<h3>Artikel 7 – Verplichtingen van 4MORGEN</h3>
<ol>
  <li>4MORGEN is niet gerechtigd de gegevens van de Gebruiker te gebruiken voor doeleinden anders dan omschreven in de privacy policy, tenzij de Gebruiker hier toestemming voor geeft.
</li>
  <li>4MORGEN zal duidelijk aangeven welke aankoopvergoedingen van toepassing zijn bij elke webshop en wat eventuele uitzonderingen zijn.
</li>
  <li>4MORGEN zal het totale door Gebruiker door aankopen gegenereerde bedrag weergeven in het account van de Gebruiker.
</li>
  <li>4MORGEN neemt te allen tijde de geldende regels omtrent privacy en de privacywetgeving in acht en zal de verkregen gegevens van de Gebruiker overeenkomstig in acht nemen en verwerken.
</li>
</ol>

<br><br>
<h3>Artikel 8 – Aankoopvergoedingen</h3>
<ol>
  <li>Verplichtingen Gebruiker voor toekenning aankoopvergoeding aan de account van de Geregistreerde Gebruiker:
    <ul>
      <li>De Geregistreerde Gebruiker dient te beschikken over een geldig 4MORGEN-account.</li>
      <li>De Geregistreerde Gebruiker dient ten tijde van de aankoop ingelogd te zijn op het account van 4MORGEN.</li>
      <li>De goederen/diensten zijn niet door de Gebruiker geretourneerd.</li>
      <li>De goederen/diensten zijn betaald aan de verkopende en leverende partij.</li>
    </ul>
  </li>
  <li>Indien een niet-geregistreerde Gebruiker via de website van 4MORGEN aankopen doet bij aangesloten webwinkels, dan zal de ontvangen aankoopvergoeding toekomen aan het op het moment van de aankoop op de website van 4MORGEN vermelde goede doel.
</li>
<li>Het totaal van alle tussen de door de Gebruiker en de webwinkel aangegane transacties worden door de aangesloten webwinkel gerapporteerd aan 4MORGEN. Het kan zijn dat niet alle transacties zichtbaar worden. De meest voorkomende redenen waarom een donatie (nog) niet is bijgeschreven zijn:
  <ul>
    <li>De Gebruiker was niet ingelogd of de aankoop is niet gestart vanaf het platform van 4MORGEN. Aangesloten webwinkels bij 4MORGEN moeten kunnen zien dat de Gebruiker afkomstig is van 4MORGEN om de aankoopvergoeding over te maken.
</li>
    <li>De Gebruiker had meerdere schermen van de desbetreffende webwinkel geopend. Hierdoor kan de webwinkel niet zien dat de aankoop is gestart vanaf 4MORGEN.
</li>
    <li>De antivirus, cookie of advertentie blocker die door de Gebruiker is geïnstalleerd kan er soms voor zorgen dat de unieke code niet doorkomt.
</li>
  </ul>
</li>
<li>4MORGEN aanvaardt geen enkele verantwoordelijkheid of aansprakelijkheid , noch voor de juistheid, betrouwbaarheid en volledigheid van de transacties. 4MORGEN is niet aansprakelijk noch verantwoordelijk voor eventuele hieruit voortvloeiende schade.
</li>
<li>In geval van liquidatie, faillissement, wettelijke schuldsanering of surseance van betaling van Gebruiker kan noch door de gebruiker, noch door de curator aanspraak gemaakt worden op de bij 4MORGEN gegenereerde en geregistreerde aankoopvergoeding. Gegenereerde aankoopvergoedingen worden nooit uitbetaald aan de Gebruiker.
</li>
</ol>

<br><br>
<h3>Artikel 9 – Contact en klachtenregeling</h3>
<ol>
  <li>In geval van vragen betrekking hebbende op gegevens, of in geval van overige op- en aanmerkingen dan kan de Gebruiker middels het contactformulier contact opnemen met 4MORGEN. De vraag zal zo spoedig mogelijk worden verwerkt en beantwoord.
</li>
  <li>Bij 4MORGEN ingediende klachten worden binnen een termijn van 14 dagen, gerekend vanaf de datum van ontvangst, beantwoord. Als een klacht een voorzienbaar langere verwerkingstijd vraagt, wordt door 4MORGEN binnen de termijn van 14 dagen geantwoord met een bericht van ontvangst en een indicatie wanneer de Gebruiker een meer uitvoerig antwoord kan verwachten.
</li>
  <li>Klachten met betrekking tot de geleverde goederen en diensten moeten worden ingediend bij de desbetreffende leverancier van het product of de dienst, de webwinkel waar de goederen zijn aangekocht.
</li>
</ol>


<br><br>
<h3>Artikel 10 – Goede doelen</h3>
<ol>
  <li>De bijgeschreven aankoopvergoedingen zullen één keer per kwartaal worden uitbetaald aan de door de Geregistreerde Gebruiker gekozen Goede doelen.
</li>
  <li>Aanvullende voorwaarden voor uitkering aan Goede doelen:
    <ul>
      <li>De Geregistreerde Gebruiker heeft aangegeven aan welke goede doelen de aankoopvergoedingen moeten worden toebedeeld;
</li>
      <li>4MORGEN heeft een definitieve melding van de vergoeding ontvangen over de gedane aankopen bij en van de aangesloten webwinkel;
</li>
      <li>De aangesloten webwinkel maakt geen aanspraak op terugbetaling van de aankoopvergoeding;
</li>
      <li>Aan de zijde van de Gebruiker is geen sprake van fraude/misleiding/bedrog ten tijde van de aankoop;
</li>
      <li>De ontvangen te doneren gelden zijn bijgeschreven op het account van de Geregistreerde gebruiker;
</li>
    </ul>
</li>
  <li>Uitbetaling aan de Goede doelen is definitief en na uitbetaling van de bedragen zijn geen wijzigingen meer mogelijk, nimmer kunnen eenmaal betaalde en uitgekeerde bedragen worden teruggevorderd.Gebruiker is hier mee bekend en akkoord.
</li>
</ol>


<br><br>
<h3>Artikel 11 – Webwinkels</h3>
<ol>
  <li>4MORGEN behoudt zich het recht voor de samenwerking met webwinkels stop te zetten die in strijd zijn met de filosofie en doelstelling van 4MORGEN.
</li>
  <li>Op de website van 4MORGEN staan hyperlinks en andere links naar aangesloten partners, webwinkels en Goede doelen. 4MORGEN is op geen enkele wijze aansprakelijk of verantwoordelijk voor de inhoud van deze websites. Gebruik is voor eigen verantwoordelijkheid en risico.
</li>
  <li>Indien een aangesloten webwinkel om wat voor reden dan ook niet aan haar betalingsverplichting kan voldoen komt de aankoopvergoeding te vervallen. 4MORGEN staat niet garant of borg voor betaling van de uit hoofde van de (koop)overeenkomst tussen Gebruiker en webwinkel gerealiseerde aankoopvergoeding. Indien de aankoopvergoeding om wat voor reden niet wordt voldaan kan 4MORGEN nooit gehouden worden de niet ontvangen aankoopvergoeding van de webwinkel te betalen/ te compenseren ten gunste van de Gebruiker en de Goede doelen;
</li>
  <li>De website van 4MORGEN bevat links en advertenties alsmede koppelingen naar andere websites. 4MORGEN heeft geen invloed op het privacy beleid van deze derden en deze sites en is daarvoor niet verantwoordelijk noch aansprakelijk.
</li>
</ol>


<br><br>
<h3>Artikel 12 – Geschillen</h3>
<ol>
  <li>Op alle tussen 4MORGEN en Gebruiker en overige partijen gesloten overeenkomsten is uitsluitend Nederlands recht van toepassing en in geval van een geschil is de Rechtbank te Den Haag bevoegd kennis te nemen van het geschil. De Nederlandse rechter heeft exclusieve rechtsmacht.
</li>
</ol>


</div>
<div ng-include="'site/footer.html'"></div>
