<div class="bannericons" style="background-image:url(site/image/bannericons.png)">
    <div class="container-fluid spreadtheword spreadtheword-mijn">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <img src="site/image/spread.svg" alt="">
        </div>
        <div class="col-sm-7">
          <h1>Nodig een vriend uit!</h1>
          <p class="waarom4morgentext">Nodig je vrienden, familie en collega's uit om jouw favoriete goede doel te steunen! </p>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Jouw unieke tell-a-friend link</h2>
          <p>Kopieer de onderstaande link om te delen op jouw sociale netwerken door te klikken op de juiste knop hieronder:</p>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <div class="input-group">

              <input class="form-control" id="inputUrl"  type="text" value="{{ url}}">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ngclipboard data-clipboard-target="#inputUrl">Kopieer</button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <a name="button" class="btn btn-facebook btn-block" ng-click="postFriend()">Facebook</a>
        </div>
        <div class="col-sm-6 col-xs-12 ">
                    <a target="_blank" href="https://twitter.com/intent/tweet?text=Ik%20nodig%20jou%20uit%20{{url}}"name="button" class="btn btn-twitter btn-block">Twitter</a>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
            <h1 class="orange waarom4morgen mijn4morgentitle"><b>Overzicht</b></h1>
  </div>

  <div class="col-md-4 col-xs-6">
    <div class="mijn4morgendonaties text-center winkelmenutext bgroen wit mijn4morgenheader">
      <p>Je hebt <br>
      <b class="mijnformorgendontatiebedrag">&euro; {{ditjaar}}</b><br>
      opgehaald in {{datumditjaar}}</p>
    </div>
  </div>
  <div class="col-md-4 col-xs-6">
    <div class="mijn4morgendonaties text-center winkelmenutext mijn4morgenheader">
      <p>Je hebt <br>
      <b class="mijnformorgendontatiebedrag">&euro; {{totaalstand}}</b><br>
      gedoneerd in totaal</p>
    </div>
  </div>
  <div class="col-md-4 winkelmenutext mijn4morgenheader">Wil je bij elke online bestelling een donatie ophalen zonder eerst naar 4MORGEN te gaan? Download dan onze donatie-assistent <b ng-click="gotochromestore()" class="klikding">hier</b> vanuit de Google Chrome store.</div>
</div>


<div class="row">
  <div class="col-xs-12">
    <h1 class="orange waarom4morgen delijn" ><b>Jouw favoriete goede doelen <span class="glyphicon glyphicon-question-sign" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"></span></b></h1>
    <span ng-show="hoverEdit">
                <a class="winkelmenutext">Om een goed doel als favoriet aan te merken, moet je ingelogd zijn. Wanneer je vervolgens naar het goede doel in kwestie gaat en op het hartje klikt dan wordt deze opgenomen onder jou favoriete goede doelen. Wil je meer dan een goed doel? Dat kan door de voorgaande stappen te herhalen. </a>
            </span>
  </div>

  <div class="col-md-4 col-xs-6 mijn4morgenheader" ng-repeat = "x in MijnFavCharities">
    <div class=" mijn4morgenfav klikding">

        <div class="verwijderfav" ng-click="verwijderenFav(x.Id)">
          <img src="site/image/cross.png" alt="" />
        </div>
        <a ng-href="/goededoelen/{{x.Id}}">
          <div class="img-holder-display">
            <img ng-src="{{x.ImageUrl}}" alt="{{x.Name}}" />
          </div>
        </a>



    </div>
    <!-- <button type="button" name="button" class="btn btn-primary btn-block winkelmenutext" ng-click="verwijderenFav(x.Id)">verwijderen</button> -->
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1 class="orange waarom4morgen delijn" ><b>Jouw favoriete winkels <span class="glyphicon glyphicon-question-sign" ng-mouseover="hoverInwinkels()" ng-mouseleave="hoverOutwinkels()"></span></b></h1>
    <span ng-show="hoverEditwinkels">
                <a class="winkelmenutext">Om een winkel als favoriet aan te merken, moet je ingelogd zijn. Wanneer je vervolgens naar de winkel in kwestie gaat en op het hartje klikt dan wordt deze opgenomen onder jou favoriete winkels. Wil je meer dan een winkel? Dat kan door de voorgaande stappen te herhalen. </a>
            </span>
  </div>
  <div class="col-md-4 col-xs-6 mijn4morgenheader" ng-repeat = "x in MijnFavShops">

      <div class="mijn4morgenfav klikding">
        <div class="verwijderfav" ng-click="verwijderenFavwinkel(x.Id)">
          <img src="site/image/cross.png" alt="" />
        </div>
        <a ng-href="/winkels/{{x.Id}}">
          <div class="img-holder-display">
            <img ng-src="{{x.ExternalImageUrl}}" alt="{{x.Name}}" />
          </div>
        </a>
      </div>

      <!-- <button type="button" name="button" class="btn btn-primary btn-block winkelmenutext" ng-click="verwijderenFavwinkel(x.Id)">verwijderen</button> -->

  </div>

</div>
