<div class="row">
  <div class="col-xs-12">
    <input type="text" value="{{ url}}">

  </div>
  <div class="col-xs-12">
    <button ng-click="postFriend()"></button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
            <h1 class="orange waarom4morgen mijn4morgentitle"><b>Overzicht</b></h1>
  </div>

  <div class="col-md-4 col-xs-6">
    <div class="mijn4morgendonaties text-center winkelmenutext bgroen wit mijn4morgenheader">
      <p>Je hebt <br>
      <b class="mijnformorgendontatiebedrag">&euro; {{ditjaar}}</b><br>
      opgehaald in 2016</p>
    </div>
  </div>
  <div class="col-md-4 col-xs-6">
    <div class="mijn4morgendonaties text-center winkelmenutext mijn4morgenheader">
      <p>Je hebt <br>
      <b class="mijnformorgendontatiebedrag">&euro; {{totaalstand}}</b><br>
      gedoneerd in totaal</p>
    </div>
  </div>
  <div class="col-md-4 winkelmenutext mijn4morgenheader">Wil je bij elke online bestelling een donatie ophalen zonder eerst naar 4MORGEN te gaan? Download dan onze donatie-assistent <b ng-click="gotochromestore()" class="klikding">hier</b> vanuit de Google Chrome store.</div>
</div>


<div class="row">
  <div class="col-xs-12">
    <h1 class="orange waarom4morgen delijn" ><b>Jouw favoriete goede doelen <span class="glyphicon glyphicon-question-sign" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"></span></b></h1>
    <span ng-show="hoverEdit">
                <a class="winkelmenutext">Om een goed doel als favoriet aan te merken, moet je ingelogd zijn. Wanneer je vervolgens naar het goede doel in kwestie gaat en op het hartje klikt dan wordt deze opgenomen onder jou favoriete goede doelen. Wil je meer dan een goed doel? Dat kan door de voorgaande stappen te herhalen. </a>
            </span>
  </div>

  <div class="col-md-4 col-xs-6 mijn4morgenheader" ng-repeat = "x in MijnFavCharities">
    <div class=" mijn4morgenfav klikding">

        <div class="verwijderfav" ng-click="verwijderenFav(x.Id)">
          <img src="site/image/cross.png" alt="" />
        </div>
        <a ng-href="/goededoelen/{{x.Id}}">
          <div class="img-holder-display">
            <img ng-src="{{x.ImageUrl}}" alt="{{x.Name}}" />
          </div>
        </a>



    </div>
    <!-- <button type="button" name="button" class="btn btn-primary btn-block winkelmenutext" ng-click="verwijderenFav(x.Id)">verwijderen</button> -->
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1 class="orange waarom4morgen delijn" ><b>Jouw favoriete winkels <span class="glyphicon glyphicon-question-sign" ng-mouseover="hoverInwinkels()" ng-mouseleave="hoverOutwinkels()"></span></b></h1>
    <span ng-show="hoverEditwinkels">
                <a class="winkelmenutext">Om een winkel als favoriet aan te merken, moet je ingelogd zijn. Wanneer je vervolgens naar de winkel in kwestie gaat en op het hartje klikt dan wordt deze opgenomen onder jou favoriete winkels. Wil je meer dan een winkel? Dat kan door de voorgaande stappen te herhalen. </a>
            </span>
  </div>
  <div class="col-md-4 col-xs-6 mijn4morgenheader" ng-repeat = "x in MijnFavShops">

      <div class="mijn4morgenfav klikding">
        <div class="verwijderfav" ng-click="verwijderenFavwinkel(x.Id)">
          <img src="site/image/cross.png" alt="" />
        </div>
        <a ng-href="/winkels/{{x.Id}}">
          <div class="img-holder-display">
            <img ng-src="{{x.ExternalImageUrl}}" alt="{{x.Name}}" />
          </div>
        </a>
      </div>

      <!-- <button type="button" name="button" class="btn btn-primary btn-block winkelmenutext" ng-click="verwijderenFavwinkel(x.Id)">verwijderen</button> -->

  </div>

</div>
