
<div class="container">

  <div class="col-xs-12">
    <div class="text-center">
      <span class="glyphicon glyphicon-pencil loginheader groen"></span>
    </div>
  </div>

  <div class="row" ng-hide="wachtwoordInstellenSuccess">
    <p class="waarom4morgentext">Vul hieronder het nieuwe wachtwoord in</p>

    <div class="alert alert-dismissible alert-success" ng-hide="succeswijzigen">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="waarom4morgentext">Uw wachtwoord is gewijziged</span>
    </div>
    <button type="button" class="btn btn-success btn-lg" ui-sref="login">Terug naar inloggen</button>
<!-- <li class="streepje"><a ui-sref="contact">Contact</a></li> -->
  </div>


  <div class="row" ng-hide="wachtwoordInstellen">
    <form name="userForm" ng-submit="instellen()" novalidate >
        <legend>Nieuw wachtwoord instellen</legend>


      <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine  }">
        <label class="control-label">Wachtwoord <span>*</span></label>

          <input type="password" class="form-control"id="password" name="password" ng-model="user.passwordReset" ng-minlength="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
          <p ng-show="userForm.passwordReset.$error.required && userForm.passwordReset.$dirty" class="help-block">vul je wachtwoord in.</p>
          <p ng-show="!userForm.passwordReset.$error.required && (userForm.passwordReset.$error.minlength || userForm.passwordReset.$error.maxlength) && userForm.passwordReset.$dirty" class="help-block">Wachtwoord moet minimaal 8 karakters bevatten.</p>
          <p ng-show="!userForm.passwordReset.$error.required && !userForm.passwordReset.$error.minlength && !userForm.passwordReset.$error.maxlength && userForm.passwordReset.$error.pattern && userForm.passwordReset.$dirty" class="help-block">Je wachtwoord moet tenminste 1 hoofdletter en 1 nummer bevatten</p>

      </div>



    <!-- wachtwoord herhaling -->
      <div class="form-group" ng-class="{ 'has-error' : userForm.herpassword.$invalid && !userForm.herpassword.$pristine || !userForm.password_c.$error.required && userForm.password_c.$error.noMatch && userForm.password.$dirty || userForm.password_c.$error.required && userForm.password_c.$dirty}">
        <label class="control-label">Herhaal wachtwoord <span>*</span></label>
          <input ng-disabled="userForm.password.$invalid" type="password" id="password_c" name="password_c" ng-model="user.password_c" class="form-control" valid-password-c required  />
          <p  class="help-block" ng-show="userForm.password_c.$error.required && userForm.password_c.$dirty">Please confirm your password.</p>
          <p class="help-block" ng-show="!userForm.password_c.$error.required && userForm.password_c.$error.noMatch && userForm.password.$dirty">Passwords do not match.</p>
      </div>

      <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg" ng-disabled="userForm.$invalid">Verzenden</button>
      </div>

    </form>
  </div>
</div>
